* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#heading1 {
    background-color: purple;
    text-align: center;
}

body {

    background-color: yellow;
    font-family: Arial;
}

/* Apply styles to the heading */
#heading1 {
    background-color: purple;
    text-align: center;
    color: white;
    padding: 10px;
}

/* Apply styles to Blog Post Title */
#heading2 {
    background-color: pink;
    text-align: center;
    /*padding: 10px;*/
}

#heading3 {
    background-color: palevioletred;
    text-align: center;
    /*padding: 10px;*/
}