* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header {
    background-color: purple;
    /* Purple background */
    text-align: center;
    padding: 20px;
}

/* Apply styles to Blog Post Title */
#heading2 {
    background-color: white;
    text-align: left;
    /*padding: 10px;*/
}

#heading3 {
    background-color: white;
    text-align: left;
    /*padding: 10px;*/
}

.unordered-list {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
}

.unordered-list li {
    font-size: medium;
}