* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent {
    padding: 40px;
    display: flex;
}

.container {
    background-color: violet;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
}